<navbar>
    <% if(isAdmin === 'true'){%>
    <a href="/assign-review">Assign Reviewer</a>
    <a href="/dashboard?isAdmin=true">Employees</a>
    <a href="/reviews">Reviews</a>
    <% } %>
    <a href="/auth/signin">Logout</a>
</navbar>
